* {
    margin: 0;
}

h2{
    color: white;
    flex-grow: 1;
}

#container {
    margin: 20px;
    padding: 10px;
    height: 90vh;
    /* display: flex; */
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgray;
}

#controls {
    margin: 0px 20px 10px 20px;
    border: 2px solid black;
    /* flex-grow: 1; */
    /* border-radius: 10px; */
    /* min-height: 35px; */
    height: 5%;
    display: flex;
}
#controls input {
    /* width: calc(100% - 200px); */
    background-color: lightcyan;
    padding-left: 5px;
    /* border-radius: 10px 0px 0px 10px; */
    flex-grow: 8;
    /* height: 100%; */
}
#controls button {
    flex-grow: 2;
    /* border-radius: 0px 10px 10px 0px; */
    /* flex-basis: 200px; */
    /* width: 200px; */
    /* height: 100%; */
    /* float:right; */
}

#content {
    height: 90%;
    display: flex;
    padding: 10px;
}

#messageContainer {
    /* height: 100%; */
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 1300px;
    /* max-width: 1400px; */
    /* justify-content: flex-end; */
}

/* #messageContainer h3{
    color: white;
    flex-grow: 1;
} */

#messages {
    height: 100%;
    /* flex-grow: 99; */

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: lightcyan;
}

#messages p:first-child {
    margin-top: auto;
}

#messages p {
    margin: 2px 0px;
}


#userContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* min-width: 200px; */
}


#users {
    flex-grow: 99;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: lightcyan;
}
#users p {
    margin: 5px 0px;
}